{% extends "app/base.html" %}
{% block content %}
<style>
    .title {
        color: gray;
        font-size: 10px;
        padding-left: 5px;
    }
</style>

<div id="app">
    <input v-model="regex" @keyup.enter="search" />
    <button @click="search">search</button>
    <a href="https://docs.python.org/3/library/re.html#regular-expression-syntax" target="_blank">syntax</a>
    <div>
        <div v-for="line in lines">
            <span>[[ line.text ]]</span>
            <a class="title" :href="'/app/episodes/'+line.title+'/'+line.line_number" target="_blank">@[[ line.title
                ]]</a>
        </div>
        <div v-if="notFound">
            Not Found
        </div>
    </div>
</div>

<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {
            const lines = ref()
            return {
                lines
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            async search() {
                const url = `${location.protocol}//${location.host}{% url 'search_api' %}?regex=${this.regex}`
                const response = await fetch(url)
                const json = await response.json()
                this.lines = json["lines"]
                this.lines.length == 0 ? this.notFound = true : this.notFound = false
            }
        }
    }).mount('#app')
</script>
{% endblock content %}