{% extends "app/base.html" %}
{% block content %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <input v-model="regex" @keyup.enter="search" />
    <button @click="search">search</button>
    <a href="https://docs.python.org/3/library/re.html#regular-expression-syntax" target="_blank">syntax</a>
    <div>
        <div v-for="line in lines">
            [[ line.text ]]
        </div>
    </div>
</div>

<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {
            const lines = ref()
            return {
                lines
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            async search() {
                const url = `${location.protocol}//${location.host}{% url 'search_api' %}?regex=${this.regex}`
                const response = await fetch(url)
                const json = await response.json()
                this.lines = json["lines"]
            }
        }
    }).mount('#app')
</script>
{% endblock content %}