{% extends "app/base.html" %}
{% block content %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    .title {
        color: gray;
        font-size: 10px;
    }
</style>

<div id="app">
    <input @keyup.enter="search" type="text" v-model="input">
    <button @click="search">search</button>
    <a href="https://docs.python.org/3/library/re.html#regular-expression-syntax" target="_blank">HELP: regex syntax</a>
    <hr>
    <div v-if="notFound">Not Found</div>
    <div v-else v-for="line in lines">
        <div>
            <span>[[ line.text ]]</span>
            <span class="title">@[[ line.episode_title ]]</span>
        </div>
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                lines: [],
                input: "",
                notFound: false
            }
        },
        methods: {
            async search() {
                url = `${location.protocol}//${location.host}{% url 'search_api' %}?regex_text=${this.input}`
                response = await fetch(url)
                json = await response.json()
                this.lines = json["lines"]
                this.notFound = this.lines.length == 0 ? true : false
            }
        }
    }).mount('#app')
</script>
{% endblock %}