{% extends "app/base.html" %}
{% block content %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    .answer {
        color: red;
    }

    .correct {
        color: green;
    }

    .incorrect {
        color: red;
    }

    .title {
        color: gray;
        font-size: 10px;
    }

    #line {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div id="app">
    <div>
        <div v-for="preLine in preLines">
            [[ preLine.text ]]
        </div>
        <div id="line">
            <span v-for="(_word, i) in text">
                <span v-if="index==i">
                    <span v-if="showAnswer">
                        <span v-if="correct" class="correct">[[ _word ]]&nbsp;</span>
                        <span v-else class="incorrect">[[ _word ]]&nbsp;</span>
                    </span>
                    <span v-else>[[ "*".repeat(_word.length) ]]&nbsp;</span>
                </span>
                <span v-else="index==i">[[ _word ]]&nbsp;</span>
            </span>
        </div>
        <div v-for="postLine in postLines">
            [[ postLine.text ]]
        </div>
    </div>
    <div class="title">@[[ line.title ]]</div>
    <hr>
    <input v-model="answer" @keyup.enter="judge" />
    <span v-if="showAnswer">
        <button @click="fetchLine">next</button>
    </span>
    <span v-else>
        <button @click="addLines">hint</button>
        <button @click="judge">answer</button>
    </span>
    <div v-show="showAnswer">
        <span v-if="correct" class="correct">CORRECT</span>
        <span v-else class="incorrect">INCORRECT</span>
    </div>
</div>

<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {
            const line = ref({})
            const preLines = ref([])
            const postLines = ref([])
            const correct = ref(false)
            const showAnswer = ref(false)
            return {
                line, preLines, postLines, correct, showAnswer
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            async fetchLine() {
                const url = `${location.protocol}//${location.host}{% url 'wordguesser_api' %}`
                const response = await fetch(url)
                const json = await response.json()
                this.line = json["line"]

                // pick question word
                this.text = this.line.text.split(" ")
                this.index = this.getRandomInt(this.text.length)
                this.word = this.text[this.index]

                // hide answer
                this.showAnswer = false

                // clear answer
                this.answer = ""

                // clear post/pre lines 
                this.preLines = []
                this.postLines = []
            },
            getRandomInt(max) {
                return Math.floor(Math.random() * max);
            },
            judge() {
                if (this.answer == this.word) {
                    this.correct = true
                } else {
                    this.correct = false
                }
                this.showAnswer = true
            },
            async addLines() {
                let offset = this.preLines.length + 1
                const url = `${location.protocol}//${location.host}/app/api/episodes/${this.line.title}/${this.line.line_number - offset}`
                const response = await fetch(url)
                const json = await response.json()

                const _url = `${location.protocol}//${location.host}/app/api/episodes/${this.line.title}/${this.line.line_number + offset}`
                const _response = await fetch(_url)
                const _json = await _response.json()

                // Update array at the same time.
                this.preLines.unshift(json["line"])
                this.postLines.push(_json["line"])
            }
        },
        mounted() {
            this.fetchLine()
        }
    }).mount('#app')
</script>
{% endblock content %}