{% extends "app/base.html" %}
{% block content %}
<style>
    .wordHidden {
        color: #93D7B7;
    }

    .answer {
        color: red;
    }

    .error {
        color: red;
    }

    .correct {
        color: green;
    }

    .incorrect {
        color: red;
    }

    .title {
        color: gray;
        font-size: 10px;
    }

    #line {
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 100%;
        height: 15px;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    button {
        width: 100px;
        height: 50px;
        font-size: 15px;
    }

    #app {
        font-size: 20px;
    }
</style>

<div id="app">
    <div>
        <div v-for="preLine in preLines">
            [[ preLine.text ]]
        </div>
        <div id="line">
            <span v-for="(_word, i) in text">
                <span v-if="index==i">
                    <span v-if="showAnswer">
                        <span v-if="correct" class="correct">[[ _word ]]&nbsp;</span>
                        <span v-else class="incorrect">[[ _word ]]&nbsp;</span>
                    </span>
                    <span v-else class="wordHidden">
                        [[ wordHidden.join("") ]]&nbsp;
                    </span>
                </span>
                <span v-else=" index==i">[[ _word ]]&nbsp;</span>
            </span>
        </div>
        <div v-for="postLine in postLines">
            [[ postLine.text ]]
        </div>
    </div>
    <div class="title">@[[ line.title ]]</div>
    <hr>
    <div v-if="showAnswer">
        <span v-if="correct" class="correct">CORRECT</span>
        <span v-else class="incorrect">INCORRECT</span>
    </div>
    <div v-else>
        <div v-if="error!=''" class="error">
            [[ error ]]
        </div>
    </div>
    <div>
        <input v-model="answer" @keyup.enter="commit" /><br>
        <div class="buttons">
            <div v-if="!showAnswer">
                <button @click="addLines">hint</button>
            </div>
        </div>
    </div>
</div>

<script>
    const { createApp, ref, watch } = Vue

    createApp({
        setup() {
            const line = ref({})
            const preLines = ref([])
            const postLines = ref([])
            const correct = ref(false)
            const showAnswer = ref(false)
            const word = ref("")
            const wordHidden = ref([])
            const answer = ref("")
            const error = ref("")

            watch(answer, (newValue) => {
                if (newValue.length <= word.value.length) {
                    error.value = ""
                    offset = "*".repeat(wordHidden.value[1].length - newValue.length)
                    wordHidden.value[1] = newValue + offset
                } else {
                    error.value = "RANGE ERROR"
                }
            })

            return {
                line, preLines, postLines, correct, showAnswer, wordHidden, answer, word, error
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            async fetchLine() {
                const url = `${location.protocol}//${location.host}{% url 'wordguesser_api' %}`
                const response = await fetch(url)
                const json = await response.json()
                this.line = json["line"]

                // pick question word
                this.text = this.line.text.split(" ")
                this.index = this.getRandomInt(this.text.length)

                wordFull = this.text[this.index]
                wordFullInverted = wordFull.split("").reverse().join("")
                start = wordFull.search(/([a-z]|[A-Z])/)
                end = wordFull.length - wordFullInverted.search(/([a-z]|[A-Z])/)
                this.word = wordFull.substring(start, end)
                let head, tail;[head, tail] = wordFull.split(this.word)
                // this.wordHidden = wordFull.replace(this.word, "*".repeat(this.word.length))
                this.wordHidden = [head, "*".repeat(this.word.length), tail]

                // hide answer
                this.showAnswer = false

                // clear answer
                this.answer = ""

                // clear post/pre lines 
                this.preLines = []
                this.postLines = []

                // set cursor to input box and open keyboard
                this.focusInput()
            },
            getRandomInt(max) {
                return Math.floor(Math.random() * max);
            },
            commit() {
                if (this.showAnswer) {
                    this.fetchLine()
                } else {
                    this.judge()
                }
            },
            focusInput() {
                setTimeout(() => {
                    input = document.querySelector("input")
                    input.focus()
                }, 200)
            },
            judge() {
                if (this.answer == this.word) {
                    this.correct = true
                } else {
                    this.correct = false
                }
                this.showAnswer = true
            },
            async addLines() {
                let offset = this.preLines.length + 1
                const url = `${location.protocol}//${location.host}/app/api/episodes/${this.line.title}/${this.line.line_number - offset}`
                const response = await fetch(url)
                const json = await response.json()

                const _url = `${location.protocol}//${location.host}/app/api/episodes/${this.line.title}/${this.line.line_number + offset}`
                const _response = await fetch(_url)
                const _json = await _response.json()

                // Update array at the same time.
                this.preLines.unshift(json["line"])
                this.postLines.push(_json["line"])

                // set cursor to input box and open keyboard
                this.focusInput()
            }
        },
        mounted() {
            this.fetchLine()
        }
    }).mount('#app')
</script>
{% endblock content %}